<div id="login-container">
  <%= form_tag do %>
      <%= text_field_tag :user, "", class:"form-control" %>
      <br>
      <%= password_field_tag :password, "", class:"form-control"%></p>
      <br>
      <%= submit_tag("Login", class: "btn btn-success btn-lg") %>
      <%= submit_tag("Sign up", name: "signup", class:"btn btn-success btn-lg") %>
   <% end %> 
  <%= link_to "Login with Google" , controller: :auth0, action: :google_authorize %>
</div>